:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
}

a {
  text-decoration: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #131315;
  border-radius: 20px;
}
::-webkit-scrollbar-track:hover {
  box-shadow: inset 2px 0 10px -7px #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
  border-radius: 20px;
}
